[submodule "system"]
	path = system
	url = git@github.com:edwardoid/aquabox.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:edwardoid/aquabox-meta.git
[submodule "hardware"]
	path = hardware
	url = https://github.com/edwardoid/aquabox-hardware.git
