[submodule "system"]
	path = system
	url = https://github.com/edwardoid/aquabox.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/edwardoid/aquabox-frontend.git
[submodule "hardware"]
	path = hardware
	url = https://github.com/edwardoid/aquabox-hardware.git
